.favbooks-container {
  text-align: center;
  padding: 20px;
  display: table;
  margin: 0 auto;
}

.favbook-input-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: rgba(230, 230, 230, 0.6);
}

.favbook-button {
  height: 45px;
}
