.favbooks-container {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: salmon;
  height: 100px;
}

.favbook-input-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 18px;
  border: 0;
  width: 100%;
  font-family: "Cormorant Garamond", serif;
  background-color: rgba(230, 230, 230, 0.6);
}

.favbook-button {
  height: 45px;
  font-family: "Cormorant Garamond", serif;
  margin: 15px;
  width: 30%;
  padding: 15px;
  font-size: 18px;
  border: 0;
}

.favbook-button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.favbooks-list {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  margin-top: 20px;
}

.list-button {
  font-family: "Cormorant Garamond", serif;
  margin: 5px;
  margin-left: 10px;
  width: 25%;
  padding: 10px;
  font-size: 18px;
  border: 0;
}

.list-button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.book-edit {
  margin: 10px 0 10px 0;
  padding: 10px;
  font-size: 20px;
  border: 0;
  width: 100%;
  font-family: "Cormorant Garamond", serif;
  background-color: rgba(230, 230, 230, 0.6);
}

.book-added {
  border-top: 2px solid lightsalmon;
  font-size: 23px;
  padding: 2rem;
  height: 10%;
  width: 100%;
}
